html,body{
    background-image: url("Art--Tornshorts/tornshorts background image.png");
    background-size: 100% auto;
    margin:0%
}

.bganimation{
    position:fixed;
    top:0.5dvh;
    left:0dvw;
    width:2700%;
    height:100dvh;
    padding:0;
    margin:0;
    animation: bgframes 3s steps(27) infinite;
}

@keyframes bgframes {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}