html,body{
    background-image: url("art/tornshorts\ background\ image.png");
    background-size: contain;
    margin:0
}

.bganimation{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    animation: bgframes 2s steps(27) infinite;
}

@keyframes bgframes {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}